<div class="row">
  <p>Hi{{user.name}}</p>
</div>
<div class="row">
  <a href [routerLink] ="['/dashboard']">Home</a>
<a href [routerLink] ="['/add']">Add a question</a>
<a href (click) = 'logout() '>Logout</a>
</div>



<div class="row">
<button  [routerLink]="['/question']">play</button>
<p>Click the button to start the trivia game</p>
</div>
<div class="container">
  <table>
      <thead>
          <th>Name</th>
          <th>Score</th>
          <th>Percentage</th>
      </thead>
      <tbody>
          <tr *ngFor="let hero of heroes">
              <td>{{user.name}}</td>
              <td>{{user.win}} / {{user.count}}</td>
              <td>{{user.win / user.count}}</td>
          </tr>
      </tbody>
  </table>

</div>
